*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

.login-page{

display:flex;

height:100vh;

}

.left-section{

flex:1;

background:linear-gradient(135deg,#2563EB,#0F172A);

display:flex;

justify-content:center;

align-items:center;

color:white;

padding:50px;

}

.overlay{

max-width:500px;

}

.overlay h1{

font-size:45px;

margin-bottom:20px;

}

.overlay p{

font-size:22px;

margin-bottom:40px;

}

.features{

display:flex;

flex-direction:column;

gap:20px;

font-size:20px;

}

.right-section{

flex:1;

display:flex;

justify-content:center;

align-items:center;

background:#F8FAFC;

}

.login-card{

width:420px;

background:white;

padding:40px;

border-radius:20px;

box-shadow:0 20px 40px rgba(0,0,0,.1);

display:flex;

flex-direction:column;

}

.login-card h2{

text-align:center;

margin-bottom:35px;

}

.login-card input{

padding:15px;

margin-bottom:20px;

font-size:16px;

border:1px solid #ddd;

border-radius:10px;

outline:none;

}

.login-card input:focus{

border-color:#2563EB;

}

.remember{

display:flex;

align-items:center;

gap:10px;

margin-bottom:25px;

}

.login-card button{

padding:15px;

background:#2563EB;

color:white;

border:none;

font-size:18px;

border-radius:10px;

cursor:pointer;

transition:.3s;

}

.login-card button:hover{

background:#1E40AF;

}

.login-card span{

margin-top:20px;

text-align:center;

color:#2563EB;

cursor:pointer;

}